@import "tailwindcss";

@theme {
  --color-background: #fbf9f5;
  --color-surface-container-high: #e9e8e3;
  --color-on-secondary-fixed: #344429;
  --color-on-tertiary-fixed-variant: #5b5972;
  --color-primary-fixed: #feb294;
  --color-primary-dim: #7c442d;
  --color-secondary-fixed-dim: #c8dbb6;
  --color-surface-container: #efeee9;
  --color-tertiary: #5f5c75;
  --color-on-background: #31332f;
  --color-tertiary-dim: #535069;
  --color-error: #a83836;
  --color-surface-dim: #dadad4;
  --color-primary-container: #feb294;
  --color-error-dim: #67040d;
  --color-secondary: #536446;
  --color-surface-tint: #8a5038;
  --color-secondary-fixed: #d6e9c3;
  --color-on-primary-container: #63301b;
  --color-on-secondary: #edffda;
  --color-on-surface: #31332f;
  --color-secondary-dim: #48583b;
  --color-on-surface-variant: #5e605b;
  --color-on-tertiary: #fcf7ff;
  --color-on-primary-fixed-variant: #6d3923;
  --color-primary-fixed-dim: #eea587;
  --color-on-error-container: #6e0a12;
  --color-surface-container-highest: #e3e3dc;
  --color-surface: #fbf9f5;
  --color-outline: #7a7b76;
  --color-tertiary-container: #e3dffd;
  --color-tertiary-fixed-dim: #d5d1ee;
  --color-on-secondary-container: #46563a;
  --color-on-error: #fff7f6;
  --color-surface-container-lowest: #ffffff;
  --color-secondary-container: #d6e9c3;
  --color-outline-variant: #b2b2ad;
  --color-inverse-on-surface: #9e9d99;
  --color-on-secondary-fixed-variant: #506043;
  --color-error-container: #fa746f;
  --color-on-primary-fixed: #491d09;
  --color-tertiary-fixed: #e3dffd;
  --color-on-tertiary-container: #514f67;
  --color-surface-container-low: #f5f4ef;
  --color-surface-bright: #fbf9f5;
  --color-inverse-primary: #feb294;
  --color-on-tertiary-fixed: #3f3d54;
  --color-inverse-surface: #0e0e0d;
  --color-primary: #8a5038;
  --color-on-primary: #fff7f5;
  --color-surface-variant: #e3e3dc;

  --font-headline: "Noto Sans SC", sans-serif;
  --font-body: "Noto Sans SC", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer utilities {
  .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
      display: inline-block;
      line-height: 1
  }
  .paper-texture {
      background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuCJimgmJNfC_2oKt5YeyXkcGOVmYuZAFHJpIz6PG68gt_4e0bgML2fhpiF7rIxYmd_BTcf17Xmpve05L62Ckt-v6KzdigZR6-sjFr5VBoFQL_M1BhbdJBnrQ0RY-g_zoZGB-YLLAaT9P0hMssm2XIscJjT5OTCqmzvBsd4e3A1bDImyivn5ipBOV9kposA_pS6IdOqfw_c4KdSW-IdLlYz91CdH3BFNezbr8xyrVPRYpjzSSrE2VLkewQ2nH4oYapbH-0eyE3Lfa6Q)
  }
  .glass-panel {
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px)
  }
  .custom-shadow {
      box-shadow: 0 10px 30px -5px rgba(49, 51, 47, 0.04), 0 20px 60px -10px rgba(49, 51, 47, 0.08)
  }
}

@layer base {
  ::placeholder {
      color: #b2b2ad;
      opacity: 0.6
  }
}